html,
body {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: black;
  background: #ededed;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}
* {
  outline: none;
}
h2 {
  font-size: 14px;
  margin: 0 0 8px 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: inline-block;
}
a[download] {
  border-radius: 2px;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  margin: 12px 1px 1px;
}
a:hover {
  color: black;
  background: rgba(255, 255, 255, 0.5);
}
.frame {
  border-radius: 2px;
  background: #e3e3e3;
  margin: 0 0 20px 0;
  padding: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
div[stage] {
  padding: 32px;
  min-width: 640px;
  max-width: 640px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
div[stage] div[browse] {
  border-radius: 2px;
  background: #e3e3e3;
  margin: 0 0 20px 0;
  padding: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
div[stage] div[browse] div[demo] {
  float: right;
}
div[stage] div[io] {
  display: flex;
  display: -webkit-flex;
}
div[stage] div[io] table {
  border-radius: 2px;
  background: #e3e3e3;
  margin: 0 0 20px 0;
  padding: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  padding-right: 96px;
}
div[stage] div[io] table td:first-child {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  padding-right: 12px;
}
div[stage] div[io] table td:last-child {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
}
div[stage] div[io] div[console] {
  border-radius: 2px;
  background: #e3e3e3;
  margin: 0 0 20px 0;
  padding: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  flex: 1;
  padding-top: 24px;
  margin-left: 12px;
}
div[stage] div[io] div[console] p {
  margin: 0;
  padding: 0;
  line-height: 1.25em;
}
div[stage] div[io] div[console] p span:last-child {
  float: right;
  display: inline-block;
}
div[stage] div[io] div[console] p[fine] {
  color: rgba(0, 0, 0, 0.4);
}
div[stage] div[io] div[console] p[error] {
  color: red;
}
div[stage] progress {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
div[stage] progress[hidden] {
  display: none;
}
div[stage] div[result] {
  display: block;
}
div[stage] div[result][hidden] {
  display: none;
}
div[stage] div[result] div[tiles-wrapper] {
  border-radius: 2px;
  background: #e3e3e3;
  margin: 0 0 20px 0;
  padding: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
div[stage] div[result] div[tiles-wrapper] div[tiles] canvas {
  margin: 1px;
  padding: 2px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
div[stage] div[result] div[tileset-wrapper] {
  border-radius: 2px;
  background: #e3e3e3;
  margin: 0 0 20px 0;
  padding: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
div[stage] div[result] div[tileset-wrapper] div[tileset] {
  overflow: auto;
  max-height: 480px;
}
div[stage] div[result] div[tileset-wrapper] div[tileset]:not(:empty) {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
div[stage] div[result] div[tileset-wrapper] div[tileset]:not(:empty) canvas {
  margin: 1px;
}
div[stage] div[info] {
  border-radius: 2px;
  background: #e3e3e3;
  margin: 0 0 20px 0;
  padding: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=tileset-extractor.css.map */